@using FinalHPMS.ViewModels;
@model ClientTicketViewModel
@{
    ViewData["Title"] = "Tickets por Cliente";
}
<head>
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body class="green-bg">
    <h1>Tickets de @Model.Name</h1>
    <hr />
    <div class="row">
        <div class="col">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Id
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                            Fecha y Hora
                        </th>
                        <th>
                            Total
                        </th>
                        <th>
                            Método de Pago
                        </th>
                    </tr>
                </thead>
                <tbody>

                    @{
                        if (Model.Tickets != null)
                        {
                            foreach (var item in Model.Tickets)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Id)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Client.Name) @Html.DisplayFor(modelItem => item.Client.Apellido)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DateAndHour)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Total)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PaymentMethod)
                                    </td>
                                </tr>
                            }
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
    <a asp-action="Index" class="btn btn-info">Volver a Clientes</a>
</body>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}