@using FinalHPMS.ViewModels;
@model CommunityViewModel

@{
    ViewData["Title"] = "Index";
}
<body class="green-bg">
<h2>Comunidades vigentes:</h2>
    <br>
<div class="row">
    <form method="get" asp-action="Index" asp-controller="Community">
        <div class = "col-6 form-group">
        <input asp-for="Filter" class="form-control" type="search" placeholder="Busque por 3 campos: nombre, ciudad/país o mail" aria-label="Search">
                <br>
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Filtre su comunidad</button>
        </div>
    </form>
</div>
    <br>
    <p>
        <a asp-action="Create"
        class="btn btn-primary btn-lg active" role="button" aria-pressed="true">
        Cree una nueva comunidad</a>
    </p>
    
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Communities[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Communities[0].CityAndCountry)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Communities[0].Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Communities[0].Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Communities[0].Mail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Communities[0].CommunityType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Communities) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CityAndCountry)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CommunityType)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id"
                class="btn btn-info btn-sm" role="button" aria-pressed="true"> Editar</a>
                <a asp-action="Details" asp-route-id="@item.Id"
                class="btn btn-secondary btn-sm" role="button" aria-pressed="true"> Detalles</a>
                <a asp-action="Delete" asp-route-id="@item.Id"
                class="btn btn-danger btn-sm" role="button" aria-pressed="true">Eliminar</a>
                @* <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Eliminar</a> *@
            </td>
        </tr>
}
    </tbody>
</table>
</body>
