@using FinalHPMS.ViewModels;
@model ClientViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Base de Clientes</h1>
<div class="row">
    <form method="get" asp-action="Index" asp-controller="Client">
        <div class = "col-6 form-group">
        <input asp-for="Filter" class="form-control" type="search" placeholder="Busque por 3 campos: nombre, apellido o mail" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Filtre su cliente</button>
        </div>
    </form>
</div>
<p>
    <a asp-action="Create">Crear nuevo cliente</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Clients[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Clients[0].Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Clients[0].Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Clients[0].Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Clients[0].Mail)
            </th>
            @* <th>
                @Html.DisplayNameFor(model => model.Clients[0].TicketId)
            </th> *@
            <th>
                @Html.DisplayNameFor(model => model.Clients[0].Tickets)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Clients) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tickets)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
