@using Microsoft.AspNetCore.Identity;
@model List<IdentityRole>


<head>
    <link rel="stylesheet" href="wwwroot\css\site.css">
</head>
<body class="green-bg">

<h2 class="mb-0">Roles de PlastiCool</h2>
<br>

<div class="row">
</div>
    <p>
        <a asp-action="Create"
        class="btn btn-outline-dark" role="button" aria-pressed="true">
        Crear Rol</a>
    </p>

<table class="table">
    <thead>
        <tr>
            <th>
                Rol
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Id)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) 
{
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-rolid="@item.Id"
                class="btn btn-info btn-sm" role="button" aria-pressed="true"> Editar</a>
                <a asp-action="Details" asp-route-rolid="@item.Id"
                class="btn btn-secondary btn-sm" role="button" aria-pressed="true"> Detalles</a>
                <a asp-action="Delete" asp-route-rolid="@item.Id"
                class="btn btn-danger btn-sm" role="button" aria-pressed="true">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>