@model FinalHPMS.Models.Product

@{
    ViewData["Title"] = "Delete";
}
<head>
    <link rel="stylesheet" href="wwwroot\css\site.css">
</head>
<body class="green-bg">
<h1>Eliminar</h1>

<h3>¿Está seguro de borrar este producto?</h3>
<div>
    <h4>Producto</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductCategory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductCategory)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WeightKg)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WeightKg)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShippingAvailable)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShippingAvailable)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dimension)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dimension)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Stock)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Stock)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index"
        class="btn btn-outline-info" role="button" aria-pressed="true">
        Volver al Menú de Productos</a>
    </form>
</div>
</body>