@model FinalHPMS.Models.Product

@{
    ViewData["Title"] = "Details";
}
<head>
    <link rel="stylesheet" href="wwwroot\css\site.css">
</head>
<body class="green-bg">
<h1>Detalle de su producto</h1>

<div>
    <h4>Datos y características:</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WeightKg)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WeightKg)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShippingAvailable)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShippingAvailable)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dimension)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dimension)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Stock)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Stock)
        </dd>
    </dl>
    <div>
        <ol>
            @foreach (var item in Model.Communities)
            {
                <li>@item.Name (@item.CityAndCountry)</li>
            }
        </ol>
    </div>

</div>
<div>
    <a asp-action="Edit" class="btn btn-outline-secondary" role="button" aria-pressed="true" asp-route-id="@Model?.Id">Editar</a> |
    <a asp-action="Index"
    class="btn btn-outline-info" role="button" aria-pressed="true">
    Volver al Menú de Productos</a>
</div>
</body>