@using FinalHPMS.ViewModels;
@model ProductViewModel

@{
    ViewData["Title"] = "Index";
}
<head>
    <link rel="stylesheet" href="wwwroot\css\site.css">
</head>
<body class="green-bg">
<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div>
    <form method="get" asp-action="Index" asp-controller="Product" class="form-inline">
    <input asp-for="Filter"class="form-control mr-sm-2" type="search" placeholder="Busque por 3 campos: nombre, precio o categoría" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Filtrar</button>
  </form>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Products[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Products[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Products[0].Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Products[0].WeightKg)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Products[0].ShippingAvailable)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Products[0].Dimension)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Products) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WeightKg)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShippingAvailable)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dimension)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>