@using FinalHPMS.ViewModels;
@model ProductViewModel

@{
    ViewData["Title"] = "Index";
}
<head>
    <link rel="stylesheet" href="wwwroot\css\site.css">
</head>
<body class="green-bg">

<h2 class="mb-0">Gestione los productos de PlastiCool</h2>
<br>

<div class="row">
    <form method="get" asp-action="Index" asp-controller="Product">
        <div class = "col-6 form-group">
        <input asp-for="Filter" class="form-control" type="search" placeholder="Busque por 23 campos: nombre o precio" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Filtrar</button>
        </div>
    </form>
</div>

<br>
    <p>
        <a asp-action="Create"
        class="btn btn-primary btn-lg active" role="button" aria-pressed="true"
        >
            Agregue un producto al stock disponible
            </a>
    </p>
<br>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Products[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Products[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Products[0].Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Products[0].WeightKg)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Products[0].ShippingAvailable)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Products[0].Dimension)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Products[0].Stock)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Products) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WeightKg)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShippingAvailable)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dimension)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stock)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>