@using Microsoft.AspNetCore.Identity;
@model List<IdentityUser>


<head>
    <link rel="stylesheet" href="wwwroot\css\site.css">
</head>
<body class="green-bg">

<h2 class="mb-0">Usuarios de PlastiCool</h2>
<br>

<div class="row">
    @* <form method="get" asp-action="Index" asp-controller="Users">
        <div class = "col-6 form-group">
        <input asp-for="Filter" class="form-control" type="search" placeholder="Busque por 2 campos: nombre o precio" aria-label="Search">
                <br>
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Filtre su producto</button>
        </div>
    </form> *@
</div>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model[0].UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Id)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) 
{
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-userid="@item.Id"
                class="btn btn-info btn-sm" role="button" aria-pressed="true"> Editar</a>
                <a asp-action="Details" asp-route-userid="@item.Id"
                class="btn btn-secondary btn-sm" role="button" aria-pressed="true"> Detalles</a>
                <a asp-action="Delete" asp-route-userid="@item.Id"
                class="btn btn-danger btn-sm" role="button" aria-pressed="true">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>